<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h4><a href="#col1content">Hermione Granger</a></h4>
      <div id="col1content">
        <p>Hermione Jean Granger (Emma Watson) was born on the 19th of September 1979 in England. She has brown hair, pale skin and brown eyes. Hermione is a witch who was the only child born to her muggle (non magic) parents making her 'muggle-born'. She discovered her powers when she received a letter from Hogwarts School of Witchcraft and Wizardry stating that she had been accepted as a student, when she was eleven years old.</p>

        <p>She began attending Hogwarts on the 1st of September 1991. While travelling to the school, she met Ronald Weasley and Harry Potter, she introduced herself and showed off her skills in spells, fixing Harry's glasses. Upon arrival, Hermione was placed in Gryffindor House. During classes she proved herself extremely intelligent, knowing ever answer to every question as she spends most of her time reading. Other students, including Ron, made fun of Hermione for being a 'know-it-all' leading her to lock herself away in the girls bathroom all day. </p>

        <p>Interested in Hermione's adventures? Read the Harry Potter series by J.K. Rowling.</p>

        <h6>content from imdb.com</h6>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <img class="img-responsive" src="/images/hermione.jpg" />
    </div>
  </div>
</div>
