<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h4><a href="#col1content">Ron Weasley</a></h4>
      <div id="col1content">
        <p>Ronald Billius 'Ron' Weasley was sixth born to his mother Molly and father Arthur Weasley on the 1st of March 1980. He is the younger brother of Charlie, William, Percy, Fred and George Weasley and older brother of Ginny Weasley. He comes from a working class, magical family that are purebloods, whom live in a large house called 'The Burrow'. While being funny, sarcastic and witty, Ron is extremely arachnophobic.</p>

        <p>Like his parents and all five brothers before him, he was accepted into Hogwarts School of Witchcraft and Wizardry when he was eleven years old. He was accompanied by his pet rat 'Scabbers' who had been in his family for ten years. While getting onto Platform 9 3/4 he was acquainted with Harry Potter whom he later became friends with on Hogwarts Express. While travelling to Hogwarts Ron told Harry "I'm the sixth in our family to go to Hogwarts. You could say I've got a lot to live up to. Bill and Charlie have already left -- Bill was head boy and Charlie was captain of Quidditch. Now Percy's a prefect. Fred and George mess around a lot, but they still get really good marks and everyone thinks they're really funny. Everyone expects me to do as well as the others, but if I do, it's no big deal, because they did it first. You never get anything new, either, with five brothers. I've got Bill's old robes, Charlie's old wand, and Percy's old rat."</p>

        <p>Want to see how Ron and Harry's friendship turns out? Read the Harry Potter series by J.K. Rowling.</p>

        <h6>content from imdb.com</h6>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <img class="img-responsive" src="/images/ron.jpg" />
    </div>
  </div>
</div>
